name: Build and Publish package

on:
  workflow_dispatch:
  push:
    tags:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write  # 用于 OIDC 令牌生成
    steps:
      - uses: actions/checkout@v2
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v4
        with:
          node-version: '22.x'
          registry-url: 'https://registry.npmjs.org'
      - name: Install dependencies
        run: npm ci
      - name: Build Angular library
        run: npm run lib:build
      - name: Publish package to NPM with OIDC
        working-directory: ./dist/angular-tabler-icons
        run: npm publish --access public --provenance
        env:
          NPM_CONFIG_PROVENANCE: true
